<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Twitter</title>
</head>
<body>
<h1>Tweets</h1>
<a href="/add">Send a tweet</a><br/>
<table>
    <tr>
        <th>Tweet</th>
        <th>Posted Date</th>
        <th>Author</th>
    </tr>
    <tr th:each="tweet: ${tweets}">
        <td th:text="${tweet.content}"></td>
        <td th:text="${tweet.posteddate}"></td>
        <td th:text="${tweet.sentby}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${tweet.id})}">Update</a>
            <a th:href="@{/detail/{id}(id=${tweet.id})}">Details</a>
            <a th:href="@{/delete/{id}(id=${tweet.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>