<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Twitter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Tweets</h1>
    </div>
</div>
<div class="container">
<button type="button" class="btn btn-light" th:action/><a href="/add">Send a tweet</a></button><br/><br/>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Tweet</th>
        <th scope="col">Posted Date</th>
        <th scope="col">Author</th>
        <th scope="col">Image</th>
        <th scope="col">Action</th>
    </thead>
    <tbody>
    <th scope="row"></th>
        <tr th:each="tweet: ${tweets}">
        <td th:text="${tweet.content}"></td>
        <td id="date"></td>
        <td th:text="${tweet.sentby}"></td>
        <td><img th:src="${tweet.headShot}"/></td>

        <td>
            <button type="button" class="btn btn-light"><a th:href="@{/update/{id}(id=${tweet.id})}">Update</a></button>
            <button type="button" class="btn btn-light"><a th:href="@{/detail/{id}(id=${tweet.id})}">Details</a></button>
            <button type="button" class="btn btn-light"><a th:href="@{/delete/{id}(id=${tweet.id})}">Delete</a></button>

        </td>
    </tr>
    </tbody>
</table>
</div>
<footer>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://github.com/melbelachew/">melbelachew.github.io</a>
    </div>
</footer>
<script>
    document.getElementById("date").innerHTML = new Date().toLocaleString();
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
